<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
        {% if site.search %}<li class="dosearch"><span><i class="fa fa-search"></i> Search</span></li>{% endif %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if site.search %}{% include site-search.html %}{% endif %}

{% if page.image.feature %}<header class="masthead">
	{% if site.logo != null %}
		<div class="wrap">
			<a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated bounceInDown"></a>
		</div>
	{% endif %}
</header><!-- /.masthead -->
{% else %}<header class="masthead">
	<div class="wrap">
        {% if site.logo != null %}
    		<a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInUp"></a>
        {% endif %}
        <h1 class="site-title animated fadeIn"><a href="{{ site.url }}">{{ site.title }}</a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
class YouTube < Liquid::Tag
  Syntax = /^\s*([^\s]+)(\s+(\d+)\s+(\d+)\s*)?/
 
  def initialize(tagName, markup, tokens)
    super
 
    if markup =~ Syntax then
      @id = $1
 
      if $2.nil? then
          @width = 560
          @height = 420
      else
          @width = $2.to_i
          @height = $3.to_i
      end
    else
      raise "No YouTube ID provided in the \"youtube\" tag"
    end
  end
 
  def render(context)
    # "<iframe width=\"#{@width}\" height=\"#{@height}\" src=\"http://www.youtube.com/watch?v=R5wA8wr5ccg#{@id}\" frameborder=\"0\"allowfullscreen></iframe>"
    "<iframe width=\"#{@width}\" height=\"#{@height}\" src=\"http://www.youtube.com/watch?v=R5wA8wr5ccg#{@id}?color=white&theme=light\"></iframe>"
  end
 
  Liquid::Template.register_tag "youtube", self
end